.WhoAmI{
    width: 100vw;
    height: 100vh;
    display: flex;

    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.2s ease, transform 1.2s ease;
}

.WhoAmI.visible {
    opacity: 1;
    transform: translateY(0);
}

.WhoAmI.hidden {
    opacity: 0;
    transform: translateY(50px);
    pointer-events: none;
}


.WhoAmI>div{
    width: 50%;
    /*display: grid;*/
}


.WhoAmI-Logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes floatAround {
    0%   { transform: translate(0, 0) rotate(0deg); }
    25%  { transform: translate(10px, -10px) rotate(5deg); }
    50%  { transform: translate(-10px, 10px) rotate(-5deg); }
    75%  { transform: translate(1px, -1px) rotate(0.5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

.WhoAmI-Logo>img{
    width: 40vw;
    animation: floatAround 30s ease-in-out 2s infinite alternate;
}


.WhoAmI-Text{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.WhoAmI-Text>div{
    width: 50%;
}




@media (max-width: 768px){
    .WhoAmI{
        display: block;
    }
    .WhoAmI>div{
        width: 100%;
        padding-top: 10vh;
    }
    .WhoAmI-Text>div{
        width: 60%;
        text-align: center;
    }
    .WhoAmI-Logo > img {
        width: 100vw;
    }
}